<!DOCTYPE html>
<html>

<head>
 
   <link rel="stylesheet" href="../css/estilo.css" />
</head>
<!--Comentario-->
<!-- 
 
-->

<body>
<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>ARTICULO</h3>
        </div>
        <div class="card-body">
            <form action="/articulo/crear" method="POST">
            
                <div class="form-group" >
                    <input type="text" placeholder="ingrese el nombre" name="nombre" class="form-control" /><br/>
                </div>
                 <div class="form-group" >
                    <textarea placeholder="ingrese la descripcion" name="descripcion"  class="form-control"> </textarea><br/>
                </div>
                 <div class="form-group" >
                    <input type="text" placeholder="ingrese el material" name="material" class="form-control" /><br/>
                </div>
                 <div class="form-group" >
                    <input type="text" placeholder="ingrese la categoria" name="categoria" class="form-control" /><br/>
                </div>
                <div class="form-group" >
                    <input type="number" placeholder="ingrese el precio" name="precio" class="form-control" /><br/>
                </div>
                 <div class="form-group" >
                    <input type="number" placeholder="ingrese el stock" name="stock" class="form-control" /><br/>
                </div>
                 <div class="form-group" >
                    <input type="text" placeholder="ingrese la imagen" name="imagen" class="form-control" /><br/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>

</html>
